<div class="upload-container">
  <h2><i class="fas fa-file-import"></i> Importar Medicamentos</h2>
  
  <div
    class="drop-zone"
    [class.dragging]="isDragging()"
    [class.disabled]="isLoading()"
    (dragover)="!isLoading() && onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="!isLoading() && onFileDropped($event)"
    (click)="!isLoading() && fileInput.click()">

    <i class="fas fa-cloud-upload-alt"></i>
    <p *ngIf="!selectedFile">Arraste o arquivo Excel aqui ou clique para selecionar</p>
    <p *ngIf="selectedFile"><strong>Arquivo:</strong> {{ selectedFile.name }}</p>

    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event, fileInput)"
      accept=".xlsx, .xls"
      [disabled]="isLoading()"
      hidden>
  </div>

  <button 
    class="btn-upload" 
    [disabled]="!selectedFile || isLoading()" 
    (click)="upload()">
    {{ isLoading() ? 'Processando...' : 'Enviar para o Servidor' }}
  </button>


</div>